:root {
    --original-1: rgb(202, 49, 66);
    --original-2: rgb(239, 134, 91);
    --original-3: rgb(240, 146, 53);
    --original-4: rgb(249, 217, 73);
    --original-5: rgb(238, 230, 151);

}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

h1, h2 {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: end;
}

#keyboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width: 650px;
    background-color: rgb(250, 250, 250);
}

#keyboard ul.row {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

#keyboard li {
    list-style: none;
    padding: 8px 23px;
    margin: 10px 0;
    border-radius: 5px;
}

#keyboard li[data-color="1"] {
    background-color: var(--original-1);
    border: 2px solid var(--original-1);
}
#keyboard li[data-color="2"] {
    background-color: var(--original-2);
    border: 2px solid var(--original-2);
}
#keyboard li[data-color="3"] {
    background-color: var(--original-3);
    border: 2px solid var(--original-3);
}
#keyboard li[data-color="4"] {
    background-color: var(--original-4);
    border: 2px solid var(--original-4);
}
#keyboard li[data-color="5"] {
    background-color: var(--original-5);
    border: 2px solid var(--original-5);
}

#keyboard li.targeted {
    animation: shake-key 0.11s ease-in-out alternate-reverse infinite;
}

#count {
    padding: 0 10px;
    animation: none;
}

#count.animate {
    animation: number-pulse 0.4s ease-in-out reverse infinite;
}

footer {
    display: flex;
    width: 100vw;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}

footer div.left {
    display: flex;
    width: 50%;
    align-self: flex-start;
}

footer div.right {
    display: flex;
    width: 50%;
    justify-content: right;
}

footer p {
    margin: 0 10px 15px 10px;
}

@keyframes shake-key {
    0% {
        transform: rotate(-10deg);
        color: white;
        border: 2px solid blue;
    }

    100% {
        transform: rotate(10deg);
        color: white;
        border: 2px solid blue;
    }
}

@keyframes number-pulse {
    0% {
        font-size: 1.5rem;
    }

    50% {
        font-size: 3rem;
    }

    100% {
        font-size: 1.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(15, 15, 15);
        color: white;
    }

    #keyboard {
        background-color: rgb(25, 25, 25);
    }
    #keyboard li {
        color: black;
    }

    a {
        color: rgb(0, 166, 255);
    }
}