#instructions {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;

    background-color: var(--window-background-light);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    z-index: 1;
}

#instructions.open {
    animation: open-window 0.3s ease-in-out normal infinite;
}

#instructions.close {
    animation: close-window 0.3s ease-in-out normal infinite;
}

#instructions td[data-column="1"] {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5px 20px 5px 0;

    transition: var(--default-transition);
}

#instructions td[data-column="1"]:hover {
    font-size: 3rem;
    cursor: pointer;

    transition: var(--default-transition);
}

#instructions td[data-column="2"] {
    font-size: 1.2rem;
}


#closeInstructionsButton {
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    border: var(--button-border);
    background-color: var(--button-background-color);
    margin: var(--button-margin);
    transition: var(--default-transition);
}

#closeInstructionsButton:hover {
    cursor: pointer;
    background-color: var(--button-green-hover);
    transition: var(--default-transition);
}

#closeInstructionsButton:active {
    scale: var(--button-scale-on-click);
    transition: var(--click-transition);
}

@media (prefers-color-scheme: dark) {
    #instructions {
        background-color: var(--window-background-dark);
    }

    #instructions button {
        background-color: var(--button-background-color-dark);
        color: white;
    }

    #instructions button:hover {
        color: black;
    }
}