#lowWidthWarning {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    background-color: var(--window-background-light);
    
    z-index: 1;
    animation: open-window 0.3s ease-in-out normal;
}

#lowWidthWarning.close {
    animation: close-window 0.3s ease-in-out normal infinite;
}

#lowWidthWarning p {
    margin: 0 20px 30px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

#lowWidthWarning button {
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    border: var(--button-border);
    background-color: var(--button-background-color);
    transition: var(--default-transition);
}

#lowWidthWarning button:hover {
    background-color: var(--button-red-hover);
    color: white;
    cursor: pointer;
    transition: var(--default-transition);
}

#lowWidthWarning button:active {
    scale: var(--button-scale-on-click);
    transition: var(--click-transition);
}

@media only screen and (max-width: 680px) {
    #lowWidthWarning {
        display: flex;
    }
}

@media (prefers-color-scheme: dark) {
    #lowWidthWarning {
        background-color: var(--window-background-dark);
    }

    #lowWidthWarning button {
        background-color: var(--button-background-color-dark);
    }
}