#settings {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;

    background-color: var(--window-background-light);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    z-index: 1;
}

#settings.open {
    animation: open-window 0.3s ease-in-out normal infinite;
}

#settings.close {
    animation: close-window 0.3s ease-in-out normal infinite;
}

#settings div {
    margin-bottom: 20px;
}

#closeSettingsButton {
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    border: var(--button-border);
    background-color: var(--button-background-color);
    margin: var(--button-margin);
    transition: var(--default-transition);
}

#closeSettingsButton:hover {
    cursor: pointer;
    color: white;
    background-color: var(--button-red-hover);
    transition: var(--default-transition);
}

#closeSettingsButton:active {
    scale: var(--button-scale-on-click);
    transition: var(--click-transition);
}

#settings p {
    opacity: 0.5;
    margin-top: 20px;
}

#settings p i {
    margin-right: 7px;
}

#settings #clearSettings {
    display: flex;
    justify-content: center;

    text-decoration: underline;
    transition: var(--default-transition);
}

#settings #clearSettings:hover {
    cursor: pointer;
    font-weight: bold;
    transition: var(--default-transition);
}

#settings #clearSettings:active {
    font-size: 0.8rem;
    transition: var(--click-transition);
}




/* Properties shared between various settings */
#colorPalette, #bot, #botFrequency, #customizeInterface, #footerSelection {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#colorPalette div, #botFrequency div, #bot div, #customizeInterface div, 
#footerSelection div {
    display: flex;
}

#colorPalette h3, #bot h3, #botFrequency h3, #customizeInterface h3, 
#footerSelection h3 {
    margin-left: 15px;
    margin-bottom: 7px;
}

#settings div button.selected {
    color: white;
    background-color: var(--button-selected);
}

#settings div button:hover {
    cursor: pointer;
    background-color: var(--button-light-grey-hover);
    transition: var(--default-transition);
}

#settings div button:active {
    scale: var(--button-scale-on-click);
    transition: var(--click-transition);
}

#settings button.selected:hover {
    background-color: var(--button-selected);
}


/* Color Palette settings */
#colorPalette button {
    display: flex;
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    border: var(--button-border);
    transform: var(--default-transition);
    margin: 0 15px;
}

#colorPalette button div {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 5px;
}


#colorPalette button#originalPalette div[data-index="1"] {
    background-color: var(--original-1);
}
#colorPalette button#originalPalette div[data-index="2"] {
    background-color: var(--original-2);
}
#colorPalette button#originalPalette div[data-index="3"] {
    background-color: var(--original-3);
}
#colorPalette button#originalPalette div[data-index="4"] {
    background-color: var(--original-4);
}
#colorPalette button#originalPalette div[data-index="5"] {
    background-color: var(--original-5);
}

#colorPalette button#vibrantPalette div[data-index="1"] {
    background-color: var(--vibrant-1);
}
#colorPalette button#vibrantPalette div[data-index="2"] {
    background-color: var(--vibrant-2);
}
#colorPalette button#vibrantPalette div[data-index="3"] {
    background-color: var(--vibrant-3);
}
#colorPalette button#vibrantPalette div[data-index="4"] {
    background-color: var(--vibrant-4);
}
#colorPalette button#vibrantPalette div[data-index="5"] {
    background-color: var(--vibrant-5);
}


/* Bot settings */
#botSettingsGroup {
    display: flex;
    margin: 0;
}

#bot {
    margin-right: 50px;
}

#bot div button, #botFrequency div button {
    display: flex;
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    border: var(--button-border);
    transition: var(--default-transition);
    margin: 0 15px;
}

#highFrequencyWarning {
    display: none;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: var(--level1-background-light);
    border: var(--button-border);
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#highFrequencyWarning p {
    margin: 0;
    color: black;
}


/* Customize Interface settings */
#customizeInterface div button {
    display: flex;
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    border: var(--button-border);
    transform: var(--default-transition);
    margin: 0 15px;
}


/* Customize Interface settings */
#footerSelection div button {
    display: flex;
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    border: var(--button-border);
    transform: var(--default-transition);
    margin: 0 15px;
}

@media (prefers-color-scheme: dark) {
    #settings {
        background-color: var(--window-background-dark);
    }

    #settings button, #settings div button {
        background-color: var(--button-background-color-dark);
        color: white;
    }

    #settings div button:hover, #bot div button:hover {
        background-color: var(--button-dark-grey-hover);
    }

    #highFrequencyWarning {
        background-color: var(--level1-background-dark);
    }
    
    #highFrequencyWarning p {
        color: white;
    }
}